@import "variables";

@mixin solidBorder($thickness) { border: $thickness solid $black; }

.form-module {
   margin-bottom: 15px;
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   // @include solidBorder(1px);
}

.form-header {
   // background-color: $black;
   border-bottom: 2px solid $black;
}

#submitter-module {
   display: none;
}

#instruction {
   color: #C83C3C;
}

#formSubmitBtn {
   margin-bottom: 20px;
}

#container-suc {
   @include solidBorder(10px);
}